.lead {
    margin-left: 148px;
    margin-right: 148px;
}

@media screen and (max-width: 1024px) {
    .lead {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 320px){
    .lead {
        width: 320px;
    }
}