.cover{
    margin:92px 48px 0px 48px;
}
@media screen and (max-width: 1024px) {
    .cover{
        margin:92px 0 0 0;
    }
}
@media screen and (max-width: 768px) {
    .cover{
        margin:90px 0 0 0;
    }
}

