.footer {
  padding-left: 48px;
  padding-right: 48px;
  background-color: #2a2c2f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 92px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 88px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 64px;
    font-size: 24px;

    line-height: 24px;
    row-gap: 48px;
    flex-direction: column;
  }
}
