.intro__title {
    font-size: 54px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    /* 107.407% */
    margin-top: 0;
    margin-bottom: 40px;
}

@media screen and (max-width: 320px) {
    .intro__title {
        margin-top: 64px;
        font-size: 32px;
        line-height: 35px;
        width: inherit;
    }
}